@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Inter:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 4%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 4%;
    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 4%;
    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 4%;
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 91%;
    --accent-foreground: 0 0% 4%;
    --destructive: 0 56% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84%;
    --input: 0 0% 84%;
    --ring: 0 0% 7%;
    --radius: 0.5rem;

    --font-heading: 'Inter', sans-serif;
    --font-body: 'Inter', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 600;
  }
}
